@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&family=Roboto:wght@300&display=swap');

body {
    font-family: "JetBrains mono";
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    display: block;
    overflow-x: hidden;
}

.arrow-up {
    filter: invert(1);
}

.card, .list-group-item {
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.7));
}

.navbar-brand {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 24px;
}

section h1 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 24px;
    color: blue;
}

section p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.list-group-item {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#about-me .container {
    justify-content: center;
}

#about-me {
    padding-top: 5% !important;
}

nav {
    background-color: white;
}

.nav-link {
    color: #A9A9A9;
    font-size: 110%;
    margin: auto 10px;
}

.nav-link:hover {
    color: blue;
}

#about-me {
    margin-top: 4rem !important;
    height: 100vh;
}

#myimg {
    border-radius: 50%;
}

.section {
    padding-top: 10%;
    padding-bottom: 20%;
    margin-top: 7rem !important;
}

h3 {
    margin-top: 2rem;
    text-align: center;
}

#mobile-navbar {
    display: none;
}

p.auto {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

p.lead {
    font-size: 100%;
}

@media (max-width: 1000px) {
    #desktop-navbar {
        display: none !important;
    }

    #about-me {
        padding-top: 0px !important;
    }

    .mt-5 {
        margin-top: 0rem !important;
    }

    #mobile-navbar {
        position: fixed;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
        display: flex !important;
        background-color: white;
        width: 100%;
        height: 65px;
        overflow-x: auto;
        bottom: 0;
    }

    .mobile-navbar-link {
        display: flex;
        color: #A9A9A9;
        flex-grow: 1;
        min-width: 50px;
        font-size: 13px;
        text-decoration: none;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        -webkit-tap-highlight-color: transparent;
        transition: backgound-color 0.1s ease-in-out;
        white-space: nowrap;
    }

}