@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&family=Roboto:wght@300&display=swap');

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
 }

body {
    font-family: "JetBrains mono";
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    display: block;
    overflow-x: hidden;
}

.arrow-up {
    filter: invert(1);
}

.card, .list-group-item{
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.7));
}

.navbar-brand {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 24px;
}

section h1 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 24px;
    color: blue;
}

section p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.list-group-item {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#baout-me .container {
    margin-top: 100px;
    justify-content: center;
}

nav {
    background-color: white;
}

.nav-link {
    color: #A9A9A9;
    font-size: 22px;
    margin: auto 10px;
}

.nav-link:hover {
    color: blue;
}

#about-me {
    margin-top: 4rem !important;
    height: 100vh;
}

#myimg{
    border-radius: 50%;
}

.section {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 7rem !important;
 }

h3 {
    margin-top: 2rem;
    text-align: center;
 }

p.auto {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}